version: "3.9"

services:
  redis:
    image: redis:7
    container_name: redis

  api:
    build: ./api/
    container_name: api
    ports:
    - "8000:8000"
    environment:
    - REDIS_HOST=redis
    depends_on:
    - redis
  worker:
    build: ./worker/
    container_name: worker
    environment:
    - REDIS_HOST=redis
    depends_on:
    - redis
  nginx:
    image: nginx:latest
    container_name: nginx-test
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - api
